<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hostelappnitj">
    <!-- write the Perissions here INTERNET PERMISSION -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/nitjlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/nitjlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HostelAPPNITJ"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Floor_Ground_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".Floor_6_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".Floor_5_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".Floor_4_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".Floor_3_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".Floor_2_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".Floor_1_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".SeatMatrixFloor_1"
            android:exported="false" />
        <activity
            android:name=".Acitvity.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".Acitvity.settingUserProfile"
            android:exported="false" />
        <activity
            android:name=".Acitvity.SeatmatrixMBHBoys"
            android:exported="false" />
        <activity
            android:name=".Hostels.GirlsH2Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.GirlsH1Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.MegaGirlsActivity"
            android:exported="false" />
        <activity
            android:name=".Hostels.BoysH7Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.BoysH6Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.BoysH5Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.BoysH4Activity"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.MegaBoysF_Activity"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.MegaBoysB_Activity"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.MegaBoysA_Activity"
            android:exported="false" />
        <activity
            android:name=".Acitvity.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Acitvity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Acitvity.RegisterationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>