<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hostelappnitj">
    <!-- write the Perissions here INTERNET PERMISSION -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HostelAPPNITJ"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Acitvity.RoomConfirmer"
            android:exported="false" />
       
        <activity
            android:name=".MBH_A_Hostel.Floor_Ground_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloorGround"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloor6"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloor5"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloor4"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloor3"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloor2"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloor1"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.Floor_6_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.Floor_5_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.Floor_4_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.Floor_3_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.Floor_2_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.Floor_1_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.MegaBoysA_Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.ExpulsionFromHostelRules"
            android:exported="false" />
        <activity
            android:name=".Hostels.Hostel_Rules_Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.Mess_Rules"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.MBH_Hostel_Staff"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.MghSeatMatrixFloor6"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.MghSeatmatrixFloor5"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.mghSeatmarixFloor4"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.mgh_seatmatrix_floor3"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.mgh_seatmatrix_floor2"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.mgh_seatmatrix_floor1"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.mgh_seatmatrix_ground"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_Ground_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_6_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_5_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_4_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_3_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_2_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_1_SeatMatrix"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MGH_Girls.MegaGirlsActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Acitvity.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".Acitvity.settingUserProfile"
            android:exported="false" />
        <activity
            android:name=".Acitvity.SeatmatrixMBHBoys"
            android:exported="false" />
        <activity
            android:name=".Hostels.GirlsH2Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.GirlsH1Activity"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.MegaGirlsActivity"
            android:exported="false" />
        <activity
            android:name=".Hostels.BoysH7Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.BoysH6Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.BoysH5Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.BoysH4Activity"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.MegaBoysF_Activity"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.MegaBoysB_Activity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MBH_B_Hostel.MegaBoysB_Activity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Acitvity.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Acitvity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Acitvity.RegisterationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>