<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hostelappnitj">
    <!-- write the Perissions here INTERNET PERMISSION -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HostelAPPNITJ"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Acitvity.successScanActivity"
            android:exported="false" />
        <activity
            android:name=".Acitvity.CaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Acitvity.scannerActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.girls_B_AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.girls_A_AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.Bh7E_AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Acitvity.createProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_B.mgh_B_floor_11"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_B.mgh_B_floor_10"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_B.mgh_B_floor_9"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_B.mgh_B_floor_8"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_B.mgh_B_floor_7"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_B.mgh_B_floor_6"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_B.mgh_B_floor_5"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_B.mgh_B_floor_4"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_B.mgh_B_floor_3"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_B.mgh_B_floor_2"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_B.mgh_B_floor_1"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_B.GirlsHostel_mgh_B_Activity"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_A.mgh_A_floor_11"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_A.mgh_A_floor_10"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_A.mgh_A_floor_9"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_A.mgh_A_floor_8"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_A.mgh_A_floor_7"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_A.mgh_A_floor_6"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_A.mgh_A_floor_5"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_A.mgh_A_floor_4"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_A.mgh_A_floor_2"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_7E.Bh7EBoysHostelActivity"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_7E.Bh_7E_Floor_Ground"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_7E.Bh_7E_Floor_3"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_7E.Bh_7E_Floor_2"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_7E.Bh_7E_Floor_1"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.Bh4_AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.Bh3_AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.Bh6_AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.Bh7_AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_A.mgh_A_floor_Ground"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_A.mgh_A_floor_3"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_A.mgh_A_floor_1"
            android:exported="false" />
        <activity
            android:name=".Girls_Hostel_A.GirlsHostel_mgh_A_Activity"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_3.Bh_3_Floor_Ground"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_3.Bh_3_Floor_3"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_3.Bh_3_Floor_2"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_3.Bh_3_Floor_1"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_3.Bh3BoysHostel_Activity"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_4.Bh_4_Floor_Ground"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_4.Bh_4_Floor_3"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_4.Bh_4_Floor_2"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_4.Bh_4_Floor_1"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_4.Bh4BoysHostel_Activity"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_6.Bh_6_Floor_Ground"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_6.Bh_6_Floor_3"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_6.Bh_6_Floor_2"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_6.Bh_6_Floor_1"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_6.Bh6BoysHostel_Activity"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_7.Bh_7_Floor_Ground"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_7.Bh_7_Floor_3"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_7.Bh_7_Floor_1"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_7.Bh7BoysHostel_Activity"
            android:exported="false" />
        <activity
            android:name=".Boys_Hostel_7.Bh_7_Floor_2"
            android:exported="false" />
        <activity
            android:name=".Acitvity.changePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Acitvity.ForgetOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Acitvity.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminActivity.StudentByName"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".AdminActivity.MGH_AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.MBHF_AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.MBHB_AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.StudentList_Admin_HomeActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.StudentList_AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.SearchStudent_AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.MBHA_AdminActivity"
            android:exported="true" />
        <activity
            android:name=".MGH_Girls.Mega_girls_hostelStaff"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.MBH_F_Hostel_staff"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.MBH_A_Hostel_staff"
            android:exported="false" />
        <activity
            android:name=".Acitvity.RoomConfirmer"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.Floor_Ground_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloorGround"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloor6"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloor5"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloor4"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloor3"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloor2"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.mbhfFloor1"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.Floor_6_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.Floor_5_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.Floor_4_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.Floor_3_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.Floor_2_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.Floor_1_SeatMatrix_A"
            android:exported="false" />
        <activity
            android:name=".MBH_A_Hostel.MegaBoysA_Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.ExpulsionFromHostelRules"
            android:exported="false" />
        <activity
            android:name=".Hostels.Hostel_Rules_Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.Mess_Rules"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.MBH_Hostel_Staff"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.MghSeatMatrixFloor6"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.MghSeatmatrixFloor5"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.mghSeatmarixFloor4"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.mgh_seatmatrix_floor3"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.mgh_seatmatrix_floor2"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.mgh_seatmatrix_floor1"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.mgh_seatmatrix_ground"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_Ground_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_6_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_5_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_4_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_3_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_2_SeatMatrix"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.Floor_1_SeatMatrix"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MGH_Girls.MegaGirlsActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Acitvity.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".Acitvity.settingUserProfile"
            android:exported="false" />
        <activity
            android:name=".Acitvity.SeatmatrixMBHBoys"
            android:exported="false" />
        <activity
            android:name=".Hostels.GirlsH2Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.GirlsH1Activity"
            android:exported="false" />
        <activity
            android:name=".MGH_Girls.MegaGirlsActivity"
            android:exported="false" />
        <activity
            android:name=".Hostels.BoysH7Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.BoysH6Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.BoysH5Activity"
            android:exported="false" />
        <activity
            android:name=".Hostels.BoysH4Activity"
            android:exported="false" />
        <activity
            android:name=".MBH_F_Hostel.MegaBoysF_Activity"
            android:exported="false" />
        <activity
            android:name=".MBH_B_Hostel.MegaBoysB_Activity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MBH_B_Hostel.MegaBoysB_Activity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Acitvity.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".Acitvity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Acitvity.RegisterationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>